.main {
  box-shadow: 0 0 10px 5px rgb(182, 177, 177);
  color: #202124;
  font-size: 15px;
  padding: 40px;
  height: auto;
  width: 750px;
  border: 1px solid rgb(208, 205, 205);
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  background: white;
}

.brand h4 {
  margin-top: 7px;
  font-size: 30px;
}

h2 {
  font-weight: 500;
}

.main__form {}

.main__form__children {
  display: flex;
}

.main__form__children form {
  /* width: 300px; */
}

.main__form__children .google-image {
  margin-top: -30px;
  width: 252px;
  justify-content: center;
  text-align: center;
}


.main__form__children .google-image figcaption {
  font-weight: 300;
  font-size: 16px;
  color: #5f6368;
}

.main__form__children.invalid .form-message {
  color: red;
}

.inputEmail p.invalid,
.inputPassword p.invalid {
  color: red;
}

.inputPassword #password.invalid,
.inputPassword #verPassword.invalid {
  border: 1px solid red;
}

.inputEmail input.invalid {
  border: 1px solid red;
}

.main__form__children .inputBox #fullName.invalid {
  border: 1px solid red;
}

.form-message {
  /* font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0; */
}

.main__form__children p,
.main__form__children .form-message {
  padding: 8px;
  font-size: 13px;
  color: #5f6368;
  margin-top: -4px;
  width: 354px;
}

.main__form__children a {
  font-weight: 600;
  text-decoration: none;
  color: var(--gm-colortextbutton-ink-color, rgb(75, 148, 245));
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  letter-spacing: .0107142857em;
  text-transform: none;
}

.main__form__children a:hover {
  color: var(--gm-colortextbutton-ink-color, rgb(29, 103, 200));
}

.usePresentEmail {
  margin-top: -8px;
}

.box {
  width: 60%;
}

.main__form__children .inputPassword {
  margin-top: 40px;
}

.inputBox input {
  width: 100%;
  font-size: 15px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid rgb(186, 183, 183);
  margin-right: 8px;
  padding-left: 8px;
}

.main__form__children .inputPassword input {
  width: 163px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid rgb(186, 183, 183);
  padding-left: 8px;
  font-size: 15px;
  margin-right: 8px;
}

.inputEmail input {
  margin-top: 20px;
  width: 100%;
  height: 32px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid rgb(186, 183, 183);
  font-size: 15px;
}

.showPassword {
  margin-top: -7px;
  height: 30px;
  display: flex;
}

.showPassword input {
  height: 18px;
  width: 18px;
}

.showPassword div {
  padding-left: 10px;
  cursor: pointer;
  margin-top: 3px;
}

.button-list {
  width: 334px;
  display: flex;
  justify-content: space-between;
}

.button-list .btn-next {
  height: 36px;
  width: 111px;
  background: var(--gm-colortextbutton-ink-color, rgb(53, 131, 232));
  color: white;
  border: 0px solid white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* .btn-next :hover {
  background: var(--gm-colortextbutton-ink-color, rgb(29, 103, 200));
} */

.button-list .btn-signUP {
  color: var(--gm-colortextbutton-ink-color, rgb(75, 148, 245));
  background: #fff;
  font-weight: 600;
  border: 0px solid #fff;
  font-size: 15px;
  cursor: pointer;
  width: 93px;
  height: 36px;
}

footer {
  width: 832px;
  margin-left: 25%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

footer select {
  color: #5f6368;
  border: 0px solid #fff;
  width: 150px;
}

footer ul li {
  padding-left: 30px;
  display: inline-block;
}

footer ul li a {
  text-decoration: none;
  color: #5f6368;
}