.card  {
    background-position: center;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}
.avatar-img {
    height: 100px;
    width: 100px; ;
    vertical-align: middle;
    border: radius 0.4em;
}