

.avatar-img {
    height: 50px;
    width: 50px;
    ;
    vertical-align: middle;
    border: radius 0.4em;
}
.background-img {
    position: center;
    size: cover;
    height: 80px;
}
.nav-item {
    padding: 5px;
}